/* Home Dashboard styles*/
html,body{
	height:100%;
	width:100%;
	padding:0px;
	margin:1px;
	overflow:hidden;
}
div{
	margin:0px;
}
.customer-caption{
	height:15%;
	width:100%;
}
.customer-value{
	height:85%;
	width:100%;
	padding-right:5px;
	text-align:right;
	font-weight:bold;
	font-size:38pt;
}
.reports-filter{
	text-align:right;
	margin-right:10px;
}
.layer-top{
	height:15%;
	width:100%;
	display:inline-block;
	background:#f0f0f0;
}
.layer-bottom{
	height:85%;
	width:100%;
	display:inline-block;
}
.panel-nav{
	height:100%;
	width:25%;
	float:left;
	background:#f0f0f0;
}
.panel-content{
	height:100%;
	width:75%;
	float:left;
	background:#ffffff;
}
.content-frame{
	width:100%;
	height:100%;
}
.static-metric-small{
	width:25%;
	height:100%;
	float:left;
	color:#ffffff;
	background:#ff0000;
	border:1px solid white;
}
.static-metric-large{
	width:49%;
	height:100%;
	float:left;
	border:1px solid white;
	background:#ff0000;
}
.navigation-button{
	height:14%;
	width:100%;
	margin:0.025em;
}

/* Devices Page Styles*/
.device-top-container{
	height:300px;
	width:100%;
	display:inline-block;
}
.device-problems-stat{
	height:300px;
	width:100%;
}
.top-devices-stats, .top-provicer-stats{
	width:50%;
	height:100%;
	float: left;
}
/* Plans Page Styles */
.plans-top-used, .plans-least-used{
	width:50%;
	height:100%;
	float:left;
}
/* Call Center Styles */
.call-average-time, .call-type-container{
	width:50%;
	height:100%;
	float:left;
}
.call-reports-bottom{
	width:100%;
	height:50%;
	display:inline-block;
}
.call-density-container{
	width:100%;
	height:50%;
}